PORT= # 3000 by default
DB_HOST= # localhost by default
DB_PORT= # 5432 by default
DB_USER=
DB_PASSWORD=
DB_NAME=
KEYCLOAK_BASE_URL= # e.g. http://localhost:8080 for development
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID= # client for getting data from KC
KEYCLOAK_CLIENT_SECRET=