PORT= # 3000 by default
DB_HOST= # localhost by default
DB_PORT= # 5432 by default
DB_SSLMODE= # 'disable' for development
DB_USER=
DB_PASSWORD=
DB_NAME=
KEYCLOAK_BASE_URL= # e.g. http://localhost:8080 for development
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID= # client for getting data from KC
KEYCLOAK_CLIENT_SECRET=
BOOKABIKE_JWT_ROLES_CLAIM_NAME= # bookabike-roles by default
BOOKABIKE_JWT_ADMIN_ROLE_NAME= # bookabike-admin by default
BOOKABIKE_JWT_VENDOR_ROLE_NAME= # bookabike-vendor by default
CORS_ALLOWED_ORIGINS= # e.g. https://your-frontend.com
CORS_ALLOWED_METHODS= # GET,POST,PUT,DELETE,OPTIONS by default
CORS_ALLOWED_HEADERS= # Content-Type,Authorization by default